.title {
    background-color: black;
    color: white;
    text-align: center;
}

body {
    margin: 0;
    background-image: url('record.png');
    background-repeat: repeat;
}

.content {
    background-color: #D3D3D3;
    padding: 1em;
}